<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Mail Simulation</a>
        </div>
        <ul class="nav navbar-nav" *ngIf="isLoggedin()">

            <li><a routerLink="/compose">Composef mail</a></li>
            <li><a routerLink="/draft">Draft mail</a></li>
            <li><a routerLink="/inbox">Inbox</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a routerLink="/signup"><span class="glyphicon glyphicon-user" *ngIf="!isLoggedin()"></span> Sign Up</a></li>
            <li><a routerLink="/login"><span class="glyphicon glyphicon-log-in" *ngIf="!isLoggedin()"></span> Login</a></li>
            <div *ngIf="isLoggedin()">
                <li><a href="#"><span class="glyphicon glyphicon-log-out" ></span> Log Out</a></li>
            </div>

        </ul>
    </div>
</nav>