<div class="float-right">
    <form action="" class="col-md-4 offset-3 mt-5 card card-body" #form="ngForm" (ngSubmit)="composemail(form)">
        <h1 class="text-center text-primary">Write your Email</h1>
        <div class="form-group">
            <input type="number" name="id" id="id" class="form-control" placeholder="enter your id" #id="ngModel" ngModel required>
        </div>

        <div class="form-group">
            <input type="text" name="subject" id="subject" class="form-control" placeholder="enter your Subject" #subject="ngModel" ngModel required>
        </div>
        <div class="form-group">
            <textarea name="message" id="message" cols="30" rows="10" #message="ngModel" class="form-controll" ngModel required></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-outline-success float-right" (click)="send()">{{value}}</button>
        </div>



    </form>
</div>